@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

h1 {
  font-weight: 900;
  margin-bottom: 30px;
}

h2 {  
  font-weight: 800;
  margin-top: 20px;
  margin-bottom: 20px;
}

.spacer-100 {
  margin-bottom: 100px;
}